<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayoutStoryboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7D4A4D91EE7822500BCC422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D4A4F21EE7822600BCC422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D4A4FD1EE7822600BCC422</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
